/* Styling for the pdf viewer, iframe, in IE */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    .hover_bkgr_fricc {
        cursor: pointer !important;
        height: 100% !important;
        position: fixed !important;
        text-align: center !important;
        top: 0% !important;
        left: 0% !important;
        width: 100% !important;
        z-index: 10000 !important;
    }
}

/* Popup box BEGIN */
.hover_bkgr_fricc {
    cursor: pointer;
    display: none;
    height: 146%;
    position: fixed;
    text-align: center;
    top: -23%;
    left: -233%;
    width: 460%;
    z-index: 10000;
}

.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: 80%;
    max-width: 75%;
    min-height: 100px;
    vertical-align: middle;
    width: 100%;
    position: relative;
    border-radius: 8px;
}

iframe {
    width: 100%;
    height: 100%;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.popupCloseButton:hover {
    background-color: #ccc;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    width: 80%;
    height: 80%;
    margin: 10% 10% 10% 10%;
}