/* Styles for printing */
@media print {
    /* Overall styles */
    .topnav, .headerhotline, .headersocials, .redbox, .rightinsights {
        display: none;
    }

    .show-on-scroll {
        opacity: 1;
    }

    /* Landing section */
    .topbar {
        width: 100%;
        margin: 0;
    }

    .logo {
        float: left;
        width: 25%;
        margin-top: 2.5%;
    }

    .landingbox {
        width: 100%;
        margin: 0;
    }

    .leftlanding {
        width: 100%;
        margin: 0;
        margin-left: 10%;
    }

    .leftlanding h1 {
        margin: 0;
        font-size: 2em;
        margin-top: 5%;
    }

    /* Services section */
    .services {
        width: 100%;
        padding: 10% 0 10% 0;
    }

    .leftservices {
        width: 100%;
        margin-bottom: 10%;
    }

    .imgboxleft {
        width: 30%;
        float: left;
    }

    .imgboxleft h2 {
        display: none;
    }

    .imgboxleft .servicesimg {
        width: 160px;
    }

    .services .redbox {
        display: none;
    }

    .leftbody {
        width: 65%;
        float: left;
        margin-left: 5%;
    }

    .leftbody h2 {
        display: inline;
        border-bottom: 2px solid #FA9600;
    }

    .centerservices {
        width: 100%;
        margin: 0px;
        margin-bottom: 10%;
    }

    .imgboxright {
        width: 30%;
        float: right;
    }

    .imgboxright h2 {
        display: none;
    }

    .rightbody {
        width: 65%;
        float: right;
        margin-right: 5%;
    }

    .rightbody h2 {
        display: inline;
        border-bottom: 2px solid #FA9600;
    }

    .rightservices {
        width: 100%;
        float: left;
    }

    /* Insights section */
 }