/* These animations are at the top of the CSS files because they wouldn't work in IE if they were further down. CURSE YOU IE!!! */
@keyframes checked-anim {
    100% {
        width: 150px;
        height: 350px;
        border-radius: 0;
    }
}

@keyframes not-checked-anim {
    0% {
        width: 150px;
        height: 350px;
    }
}

@keyframes show-links {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Overall Styles */
body {
    background: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 4em;
    margin-bottom: 0%;
    color: #2A5769;
}

h2 {
    margin-bottom: 5px;
    color: #2A5769;
}

p {
    color: #2A5769;
}

a {
    text-decoration: none;
    /* color: #2A5769; */
    color: #ffffff;
    cursor: pointer;
}

/* Hiding the google recaptcha for localhost */
.grecaptcha-badge {
    display: none;
}

/* Hiding the jQuery Mobile circle loader */
.ui-loading .ui-loader {
    display: none !important;
}
/* End of Overall Styles */

/* Scrolling Animations */
/* Fades in */
.inline-photo-still {
    opacity: 0;
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
    -webkit-transition: opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0,1,.3,1);
    transition: opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0,1,.3,1);
    transition: transform 2s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
    transition: transform 2s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0,1,.3,1);
    will-change: transform, opacity;
}

.inline-photo-still.is-visible {
    opacity: 1;
    -webkit-transform: translateY(0em);
    transform: translateY(0em);
}

/* Moves left to right */
.inline-photo-leftright {
    opacity: 0;
    -webkit-transform: translateX(-4em);
    transform: translateX(-4em);
    -webkit-transition: opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0,1,.3,1);
    transition: opacity .3s .25s ease-out, -webkit-transform 3s .25s cubic-bezier(0,1,.3,1);
    transition: transform 2s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
    transition: transform 2s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0,1,.3,1);
    will-change: transform, opacity;
}
  
.inline-photo-leftright.is-visible {
    opacity: 1;
    -webkit-transform: translateX(4em);
    transform: translateX(4em);
}

/* Moves down to up */
.inline-photo-downup {
    opacity: 0;
    -webkit-transform: translateY(10em);
    transform: translateY(10em);
    -webkit-transition: opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0,1,.3,1);
    transition: opacity .3s .25s ease-out, -webkit-transform 3s .25s cubic-bezier(0,1,.3,1);
    transition: transform 2s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
    transition: transform 2s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0,1,.3,1);
    will-change: transform, opacity;
}
  
.inline-photo-downup.is-visible {
    opacity: 1;
    -webkit-transform: translateY(-4em);
    transform: translateY(-4em);
}

/* Moves right to left */
.inline-photo-rightleft {
    opacity: 0;
    -webkit-transform: translateX(4em);
    transform: translateX(4em);
    -webkit-transition: opacity .3s .25s ease-out, -webkit-transform 2s .25s cubic-bezier(0,1,.3,1);
    transition: opacity .3s .25s ease-out, -webkit-transform 3s .25s cubic-bezier(0,1,.3,1);
    transition: transform 2s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
    transition: transform 2s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out,-webkit-transform 2s .25s cubic-bezier(0,1,.3,1);
    will-change: transform, opacity;
}

.inline-photo-rightleft.is-visible {
    opacity: 1;
    -webkit-transform: translateX(-4em);
    transform: translateX(-4em);
}
/* End of Scrolling Animations */

/* Back to top */
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#FABD4A;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 999999;
}

#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}

#scroll:hover {
    background-color:#FA9600;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
/* End of Back to top */

/* Header Styles */
.topbar {
    width: 80%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    z-index: 10;
    background-color: rgba(42, 87, 105, 0.5);
}

.logo {
    float: left;
    width: 11%;
    margin-top: 2.5%;
}

.logo img {
    width: 100%;
}

/* Beginning of Navigation Styles */
.topnav {
    overflow: hidden;
    float: left;
    margin-top: 3.35%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    font-size: 1.15em;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #fA9600;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

.topnav .icon {
    display: none;
}

.mobilenav {
    display: none;
}
/* End of Navigation Styles */

.headersocials {
    float: right;
    margin-top: 3.2%;
    margin-right: 5%;
}

.headersocials a {
    padding: 10px;
}

.headersocials img {
    height: 1.5em;
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.headerhotline {
    float: right;
    margin-top: 3.5%;
}

.headerhotline a {
    border: 2px solid #fA9600;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding: 5px 5px 5px 10px;
}

/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    background-color: #fA9600;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.headerhotline img {
    width: 20%;
    margin-bottom: -5px;
}
/* End of Header Styles */

/* Start of the full width img */
.fullwidthimg {
    width: 100vw;
    height: 100vh;
    float: left;
    background-image: url(../icons/mountain.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}

.fullwidthimgtext {
    width: 50%;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 43vh;
}

.fullwidthimgtext .redbox {
    margin-bottom: 2.5%;
}

.fullwidthimgtext h1, .fullwidthimgtext p {
    color: #ffffff;
}

.fullwidthimgtext h1 {
    font-size: 5em;
}

.fullwidthimgtext p {
    font-size: 1.25em;
}

.orangeletter {
    color: #FA9600;
}

.porange {
    border-bottom: 1px solid #FA9600;
    margin-bottom: 5px;
    width: 20%;
}

.sech1 {
    margin-top: 2.5%;
}
/* End of the full width img */

/* Who we are Styles */
.whoweare {
    width: 100%;
    height: 100%;
    float: left;
    padding-bottom: 12%;
    background-color: #ffffff;
}

.landing {
    width: 100%;
    height: 100%;
    float: left;
}

.landingbox {
    width: 80%;
    float: left;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
}

.leftlanding {
    width: 80%;
    float: left;
    height: 100%;
    margin-left: -3vw;
}

.redbox {
    width: 125px;
    height: 3px;
    background-color: #fA9600;
    margin-bottom: 5%;
}

.landingtext {
    font-size: 1.25em;
}

.landingtext h1 {
    font-size: 2.75em;
}

.landingtext .redbox {
    margin-bottom: 2%;
}

/* End of Landing Styles */

/* Start of the full width slider */
.fullwidthslider {
    width: 100%;
    height: 100%;
    float: left;
    z-index: -999;
    position: absolute;
}

.slick-next {
    display: none !important;
}

.slick-prev {
    display: none !important
}

.left-slider {
    width: 50%;
    height: 100%;
    float: left;
}

.right-slider {
    width: 50%;
    height: 100%;
    float: right;
    background-color: red;
}

.slick-list {
    height: 100%;
    width: 100%;
}

.slick-track {
    height: 100%;
}

.slick-slide img {
    width: 100%;
    height: 100%;
}
/* End of the full width slider */
  
/* Services Styles */
.services {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #ffffff;
}

.test {
    width: 100%;
}

.leftservices {
    width: 20%;
    float: left;
    height: 100%;
    background-color: #2A5769;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
}

.leftservices h2 {
    color: #ffffff;
}

.leftservices p {
    color: #ffffff;
}

.leftbody h2 {
    display: none;
}

.centerservices {
    width: 20%;
    float: left;
    height: 100%;
    background-color: #ffffff;
    padding-top: 5%;
    padding-bottom: 8%;
    padding-right: 5%;
    padding-left: 5%;
}

.rightservices {
    width: 20%;
    float: left;
    height: 100%;
    background-color: #FA9600;
    padding-top: 5%;
    padding-bottom: 6%;
    padding-right: 10%;
    padding-left: 5%;
}

.rightservices h2 {
    color: #ffffff;
}

.rightservices p {
    color: #ffffff;
}

.rightservices .redbox {
    background-color: #ffffff;
}

.rightbody h2 {
    display: none;
}

.servicesimg {
    width: 175px;
}
/* End of About Styles */

/* Insights Styles */
.insights {
    width: 80%;
    height: 100%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
    padding-bottom: 15%;
    background-color: #ffffff;
}

.insights h1 {
    width: 80%;
}

.leftinsights {
    width: 40%;
    float: left;
    height: 100%;
    margin-left: -3vw;
    margin-right: 6vw;
}

.rightinsights {
    width: 60%;
    float: right;
    height: 100%;
}

.rightinsightsmobile {
    width: 50%;
    float: left;
}

/* .insightsscroll {
    margin-left: 37%;
    width: 45%;
} */

/* Insights Slider */
.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel {
    background: #FAFAFA;
    margin-bottom: 30px;
    counter-reset: carousel-cell;
}

.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus { 
    outline: none; 
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
    height: 500px !important;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flickity-enabled .carousel-cell { 
    margin-bottom: 0; 
}

.carousel-cell {
    width: 62%;
    height: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.feb-insight-card {
    background-image: url(../insights/mobile-cards/feb-insight-800px.jpg);
    background-position: center;
}

.jan-insight-card {
    background-image: url(../insights/mobile-cards/jan-insight-800px.jpg);
    background-position: center;
}

/* This displays the number on the card in which we are hiding */
.carousel-cell:before, .carousel-cell__number {
    display: none;
    width: 100px;
    margin: 0 auto;
    content: counter(carousel-cell);
    text-align: center;
    line-height: 160px;
    font-size: 80px;
    color: white;
}

.flickity-prev-next-button.previous { 
    left: 10px; 
}

.flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
}

.flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
    /* Hiding the arrows to go to the next card */
    display: none;
}

.flickity-button:hover {
    background: white;
    cursor: pointer;
}

.flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
    opacity: 0.6;
}

.flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button, select { /* 1 */
  text-transform: none;
}

button, input { /* 1 */
  overflow: visible;
}

button, input, optgroup, select, textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

.flickity-prev-next-button.next { 
    right: 10px; 
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-rtl .flickity-page-dots { 
    direction: rtl; 
}

.flickity-enabled.is-fullscreen .flickity-page-dots {
    bottom: 10px;
}

.carousel--full-bleed .flickity-page-dots { 
    bottom: 10px; 
}

.carousel--line-dots .flickity-page-dots {
    bottom: -22px;
}

.carousel--o-dots .flickity-page-dots {
    bottom: 0px;
}

.carousel--progress-bar .flickity-page-dots {
    bottom: -40px;
}

.flickity-page-dots .dot.is-selected {
    opacity: 1;
}

.carousel--o-dots .flickity-page-dots .dot.is-selected {
    background: white;
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
}

.flickity-enabled.is-fullscreen .flickity-page-dots .dot {
    background: white;
}

.carousel--line-dots .flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
}

.carousel--o-dots .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* End of the Insights Slider */
/* End of Insights Styles */

/* CSS for the card slider */
/* [type=radio] {
    display: none;
}
  
#slider {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    color: black;
}

#slider label {
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
} */

/* THESE ARE IN ORDER OF THE TRANSFORM 3D X PROPERTY */
/* TRANSFORM 3D COORDINATES GO IN X,Y,Z */
/* Skips 12*/
/* #s1:checked ~ #slide13, #s2:checked ~ #slide1, #s3:checked ~ #slide2, 
#s4:checked ~ #slide3, #s5:checked ~ #slide4, #s6:checked ~ #slide5, #s7:checked ~ #slide6, #s8:checked ~ #slide7, #s9:checked ~ #slide8, 
#s10:checked ~ #slide9, #s11:checked ~ #slide10, #s12:checked ~ #slide11, #s13:checked ~ #slide12 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(120%,0,-396px);
} */

/* Skips 11*/
/* #s1:checked ~ #slide12, #s2:checked ~ #slide13, #s3:checked ~ #slide1, 
#s4:checked ~ #slide2, #s5:checked ~ #slide3, #s6:checked ~ #slide4, #s7:checked ~ #slide5, #s8:checked ~ #slide6, #s9:checked ~ #slide7, 
#s10:checked ~ #slide8, #s11:checked ~ #slide9, #s12:checked ~ #slide10, #s13:checked ~ #slide11 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(110%,0,-363px);
} */

/* Skips 10*/
/* #s1:checked ~ #slide11, #s2:checked ~ #slide12, #s3:checked ~ #slide13, #s4:checked ~ #slide1, #s5:checked ~ #slide2, #s6:checked ~ #slide3, #s7:checked ~ #slide4, #s8:checked ~ #slide5, #s9:checked ~ #slide6, #s10:checked ~ #slide7, #s11:checked ~ #slide8, #s12:checked ~ #slide9, #s13:checked ~ #slide10 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(100%,0,-330px);
} */

/* Skips 9*/
/* #s1:checked ~ #slide10, #s2:checked ~ #slide11, #s3:checked ~ #slide12, 
#s4:checked ~ #slide13, #s5:checked ~ #slide1, #s6:checked ~ #slide2, #s7:checked ~ #slide3, #s8:checked ~ #slide4, #s9:checked ~ #slide5, 
#s10:checked ~ #slide6, #s11:checked ~ #slide7, #s12:checked ~ #slide8, #s13:checked ~ #slide9 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(90%,0,-297px);
} */

/* Skips 8*/
/* #s1:checked ~ #slide9, #s2:checked ~ #slide10, #s3:checked ~ #slide11, 
#s4:checked ~ #slide12, #s5:checked ~ #slide13, #s6:checked ~ #slide1, #s7:checked ~ #slide2, #s8:checked ~ #slide3, #s9:checked ~ #slide4, 
#s10:checked ~ #slide5, #s11:checked ~ #slide6, #s12:checked ~ #slide7, #s13:checked ~ #slide8 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(80%,0,-264px);
} */

/* Skips 7 */
/* #s1:checked ~ #slide8, #s2:checked ~ #slide9, #s3:checked ~ #slide10, 
#s4:checked ~ #slide11, #s5:checked ~ #slide12, #s6:checked ~ #slide13, #s7:checked ~ #slide1, #s8:checked ~ #slide2, #s9:checked ~ #slide3, 
#s10:checked ~ #slide4, #s11:checked ~ #slide5, #s12:checked ~ #slide6, #s13:checked ~ #slide7 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(70%,0,-231px);
} */

/* Skips 6 */
/* #s1:checked ~ #slide7, #s2:checked ~ #slide8, #s3:checked ~ #slide9, 
#s4:checked ~ #slide10, #s5:checked ~ #slide11, #s6:checked ~ #slide12, #s7:checked ~ #slide13, #s8:checked ~ #slide1, #s9:checked ~ #slide2, 
#s10:checked ~ #slide3, #s11:checked ~ #slide4, #s12:checked ~ #slide5, #s13:checked ~ #slide6 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(60%,0,-198px);
} */

/* Skips 5 */
/* #s1:checked ~ #slide6, #s2:checked ~ #slide7, #s3:checked ~ #slide8, #s4:checked ~ #slide9, #s5:checked ~ #slide10, #s6:checked ~ #slide11, #s7:checked ~ #slide12, #s8:checked ~ #slide13, #s9:checked ~ #slide1, 
#s10:checked ~ #slide2, #s11:checked ~ #slide3, #s12:checked ~ #slide4, #s13:checked ~ #slide5 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(50%,0,-165px);
} */

/* Skips 4 */
/* #s1:checked ~ #slide5, #s2:checked ~ #slide6, #s3:checked ~ #slide7, #s4:checked ~ #slide8, #s5:checked ~ #slide9, #s6:checked ~ #slide10, #s7:checked ~ #slide11, #s8:checked ~ #slide12, #s9:checked ~ #slide13, #s10:checked ~ #slide1, #s11:checked ~ #slide2, #s12:checked ~ #slide3, #s13:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(40%,0,-132px);
} */

/* Skips 3 */
/* #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide6, #s4:checked ~ #slide7, #s5:checked ~ #slide8, #s6:checked ~ #slide9, #s7:checked ~ #slide10, #s8:checked ~ #slide11, #s9:checked ~ #slide12, #s10:checked ~ #slide13, #s11:checked ~ #slide1, #s12:checked ~ #slide2, #s13:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-99px);
} */

/* Skips 2 */
/* #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide6, #s5:checked ~ #slide7, #s6:checked ~ #slide8, #s7:checked ~ #slide9, #s8:checked ~ #slide10, #s9:checked ~ #slide11, #s10:checked ~ #slide12, #s11:checked ~ #slide13, #s12:checked ~ #slide1, #s13:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(20%,0,-66px);
} */

/* Skips 1 */
/* #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide6, #s6:checked ~ #slide7, #s7:checked ~ #slide8, #s8:checked ~ #slide9, #s9:checked ~ #slide10, #s10:checked ~ #slide11, #s11:checked ~ #slide12, #s12:checked ~ #slide13, #s13:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(10%,0,-33px);
} */

/* Skips 0 */
/* #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5, #s6:checked ~ #slide6, #s7:checked ~ #slide7, #s8:checked ~ #slide8, #s9:checked ~ #slide9, #s10:checked ~ #slide10, #s11:checked ~ #slide11, #s12:checked ~ #slide12, #s13:checked ~ #slide13 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}

#slide1 { 
    background-image: url(../insights/feb-insight.jpg);
    background-size: 105%;
    z-index: 1;
}

#slide2 { 
    background-image: url(../insights/jan-insight.jpg);
    background-size: 105%;
    z-index: -1;
}

#slide3 { 
    background: yellow;
}

#slide4 { 
    background: orange;
}

#slide5 { 
    background: red;
}

#slide6 { 
    background: purple;
}

#slide7 { 
    background: brown;
}

#slide8 { 
    background: grey;
}

#slide9 { 
    background: black;
    color: #ffffff;
}

#slide10 { 
    background: pink;
}

#slide11 { 
    background: teal;
}

#slide12 { 
    background: aquamarine;
}

#slide13 { 
    background: burlywood;
} */
/* End of the CSS for the card slider */

/* Contact Styles */
.contact {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #2A5769;
    margin-bottom: 2.5%;
}

.maincenter {
    width: 80%;
    height: 100%;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contactleft{
    width: 33%;
    float: left;
    height: 100%;
}

.contactleft h1 {
    width: 90%;
    color: #ffffff;
}

.contactreq {
    color: #ffffff;
    margin-bottom: 4%;
}

.contactform {
    width: 100%;
    height: 100%;
    float: left;
}

#contactForm {
    width: 67%;
    float: left;
    height: 100%;
}

.form-group {
    width: 42%;
    margin-bottom: 7%;
    float: left;
}

.left-form {
    float: left;
}

.right-form {
    float: right;
}

input {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #fA9600 !important;
    background-color: #2A5769;
    color: #ffffff;
    border: none;
    font-size: 1.25em;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #ffffff;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

.with-errors {
    width: 100%;
    float: left;
    color: #fA9600;
}

.with-errors ul {
    padding: 0px;
}

.with-errors li {
    list-style: none;
}

::placeholder {
    color: #ffffff;
}

textarea {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    border-bottom: 1px solid #fA9600 !important;
    background-color: #2A5769;
    color: #ffffff;
    border: none;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
}

#company {
    padding-bottom: 28px;
}

#form-submit {
    background-color: #fA9600;
    color: #ffffff;
    border: 0px;
    float: left;
    padding: 15px 30px 15px 30px;
    font-size: 1.25em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#msgSubmit {
    color: #fA9600;
    width: 24%;
    height: 5%;
    margin-top: 30%;
}

.text-danger {
    margin-top: 59% !important;
}
/* End of Contact Styles */

/* Footer Styles */
.footer {
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    background-color: #ffffff;
}

.footercenter {
    width: 100%;
    height: 100%;
}

.footerlogo {
    margin-bottom: 5%;
}

.footerlogo img {
    width: 35%;
}

.footerSCH {
    width: 100%;
}

.footersocials {
    width: 50%;
    float: left;
}

.footersocials a {
    padding: 7px;
}

.footersocials img {
    height: 20px;
}

.footerhotline {
    width: 50%;
    float: right;
}

.footerhotline a {
    border: 2px solid #FA9600;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px;
}

.footerhotline img {
    width: 20%;
    margin-bottom: -5px;
}

.copyright {
    width: 100%;
    float: left;
    margin-top: 5%;
}

.copyright p {
    color: #A9A9A9;
}
/* End of Footer Styles */

/* Start of the main content on the side pages */
.fullwidthimgfeb {
    width: 100vw;
    height: 100vh;
    float: left;
    background-image: url(../insights/feb-big-pic.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}

.fullwidthimgtextfeb {
    width: 50%;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 32vh;
}

.fullwidthimgtextfeb .redbox {
    margin-bottom: 2.5%;
}

.fullwidthimgtextfeb h1, .fullwidthimgtextfeb p {
    color: #ffffff;
}

.fullwidthimgtextfeb h1 {
    font-size: 5em;
}

.fullwidthimgtextfeb p {
    font-size: 1.25em;
}

.landingtext img, .blogimgtxt {
    float: left;
}

.blogimgtxt {
    margin: 0px;
    margin-left: 1.5%;
}

.mainbox {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    float: left;
    background-color: #ffffff;
}

.innercontent {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    float: left;
}

.insightcopy {
    width: 100%;
    height: 100%;
    float: left;
}

.insightcopy span {
    color: #FA9600;
}

.shareinsight {
    width: 100%;
    height: 100%;
    float: left;
}

.shareinsightbox {
    width: 25%;
    height: 100%;
    float: right;
}
/* End of the main content on the side pages */
/* Media Queries */
@media only screen and (max-width: 1800px) {
    .leftlanding {
        margin-left: -3.5vw;
    }

    .rightservices  {
        padding-bottom: 7%;
    }

    .leftinsights {
        margin-left: -3.5vw;
    }

    .insightsscroll {
        margin-left: 40%;
    }

    .text-danger {
        margin-top: 60% !important;
    }
}

@media only screen and (max-width: 1700px) {
    .leftlanding {
        margin-left: -3.75vw;
    }

    .centerservices  {
        padding-bottom: 7%;
    }

    .rightservices  {
        padding-bottom: 6%;
    }

    .leftinsights {
        margin-left: -3.75vw;
    }

    .insightsscroll {
        margin-left: 40%;
    }

    .text-danger {
        margin-top: 63% !important;
    }

    #msgSubmit {
        width: 27%;
    }
}

@media only screen and (max-width: 1600px) {
    .logo {
        width: 12%;
    }
    
    .leftlanding {
        margin-left: -4vw;
    }

    .centerservices  {
        padding-bottom: 8.5%;
    }

    .rightservices  {
        padding-bottom: 7.5%;
    }

    .leftinsights {
        margin-left: -4vw;
    }

    .insightsscroll {
        margin-left: 40%;
    }

    .text-danger {
        margin-top: 65% !important;
    }
}

@media only screen and (max-width: 1500px) {
    .topnav {
        margin-top: 3%;
    }
    
    .leftlanding {
        margin-left: -4.25vw;
    }

    .centerservices  {
        padding-bottom: 9%;
    }

    .rightservices  {
        padding-bottom: 8%;
    }

    .leftinsights {
        margin-left: -4.25vw;
    }

    .text-danger {
        margin-top: 67% !important;
    }

    #msgSubmit {
        width: 30%;
    }
}

@media only screen and (max-width: 1400px) {
    .topnav {
        margin-top: 3.25%;
    }
    
    .logo {
        width: 14%;
    }

    .headerhotline {
        margin-top: 3%;
    }

    .headersocials {
        margin-top: 3%;
    }
    
    .leftlanding {
        margin-left: -5vw;
    }

    .leftinsights {
        margin-left: -5vw;
    }

    #msgSubmit {
        width: 33%;
    }

    .text-danger {
        margin-top: 70% !important;
    }

    .footerlogo img {
        width: 40%;
    }
}

@media only screen and (max-width: 1300px) {
    .topnav {
        margin-top: 3.5%;
    }
    
    .headerhotline {
        margin-top: 3.5%;
    }

    .headersocials {
        margin-top: 3.5%;
    }
    
    .leftlanding {
        margin-left: -5vw;
    }

    .centerservices  {
        padding-bottom: 9.5%;
    }

    .rightservices  {
        padding-bottom: 9.5%;
    }

    .leftinsights {
        margin-left: -5vw;
    }
}

@media only screen and (max-width: 1200px) {
    .logo {
        width: 16%;
    }
    
    .leftlanding {
        margin-left: -5.25vw;
    }

    .centerservices  {
        padding-bottom: 9.75%;
    }

    .rightservices  {
        padding-bottom: 8.25%;
    }

    .leftinsights {
        margin-left: -5.25vw;
    }

    .insightsscroll {
        margin-left: 43%;
    }

    .text-danger {
        margin-top: 78% !important;
    }

    #msgSubmit {
        width: 38%;
    }

    .footerlogo img {
        width: 45%;
    }
}

@media only screen and (max-width: 1100px) {
    .topnav {
        margin-top: 4%;
    }
    
    .logo {
        width: 18%;
    }

    .headerhotline {
        margin-top: 4%;
    }

    .headersocials {
        margin-top: 4%;
    }
    
    .leftlanding {
        margin-left: -5.5vw;
    }

    .centerservices  {
        padding-bottom: 15%;
    }

    .rightservices  {
        padding-bottom: 15%;
    }

    .leftinsights {
        margin-left: -5.5vw;
    }

    .insightsscroll {
        margin-left: 45%;
    }

    .text-danger {
        margin-top: 83% !important;
    }
}

/* Changing the layout to mobile/tablet friendly */
/* Switches to mobile menu */
@media only screen and (max-width: 1000px) {
    /* Styles for the mobile nav */
    /* The animations for the mobile menu are at the top of the CSS file. They wouldn't work in IE if they were down here. CURSE YOU IE!!! */
    .mobilenav {
        display: block;
        z-index: 9999;
        position: fixed;
        right: 0;
    }

    .div li, .div li a {
        margin: 75px 0 -55px 0;
        color: #ffffff;
        font: 14pt "Roboto", sans-serif;
        font-weight: 700;
        line-height: 1.8;
        text-decoration: none;
        text-transform: none;
        list-style: none;
        outline: 0;
        display: none;
        margin-left: 60px;
        animation: show-links .75s both;
    }

    .div li {
        width: 230px;
        text-indent: 56px;
    }
    
    a:focus {
        display: block;
        color: #333;
        background-color: #eee;
        transition: all .5s;
    }

    #trigger, #burger, #burger:before, #burger:after {
        position: absolute;
        top: 25px;
        right: 25px;
        background: #ffffff;
        width: 30px;
        height: 5px;
        transition: .2s ease;
        cursor: pointer;
        z-index: 999999;
    }

    #trigger {
        height: 25px;
        background: none;
    }

    #burger:before {
        content: " ";
        top: 10px;
        right: 0;
    }

    #burger:after {
        content: " ";
        top: 20px;
        right: 0;
    }

    #menu-toggle:checked + #trigger + #burger {
        top: 35px;
        transform: rotate(180deg);
        transition: transform .2s ease;
    }
    
    #menu-toggle:checked + #trigger + #burger:before {
        width: 20px;
        top: 9px;
        right: 11px;
        transform: rotate(45deg) translateX(-5px);
        transition: transform .2s ease;
    }

    #menu-toggle:checked + #trigger + #burger:after {
        width: 20px;
        top: -9px;
        right: 11px;
        transform: rotate(-45deg) translateX(-5px);
        transition: transform .2s ease;
    }

    #menu {
        position: absolute;
        right: 0;
        margin: 0; 
        padding: 0;
        width: 110px;
        height: 110px;
        background-color: #2A5769;
        border-bottom-left-radius: 100%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        animation: not-checked-anim .2s both;
        transition: .2s;
        z-index: 99999;
    }

    .div {
        right: 0;
        position: absolute;
        height: auto;
        width: auto;
    }

    #menu-toggle:checked + #trigger + #burger + #menu {
        animation: checked-anim 1s ease both;
    }

    #menu-toggle:checked + #trigger ~ #menu > .div li, .div li a {
        display: block;
    }

    [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        display: none;
    }
    /* End of the styles for the mobile nav */
    
    .topbar {
        padding-bottom: 2.5%;
    }

    .topnav {
        display: none;
    }

    .logo {
        width: 20%;
        margin-right: 7%;
    }

    .headerhotline {
        float: left;
        margin-top: 4%;
    }

    .headersocials {
        float: left;
        margin-right: 0;
        margin-top: 3.5%;
        margin-left: 7%;
    }

    /* Style for the Landing section */
    .fullwidthimgtext {
        margin-top: 38vh;
        width: 68%;
        margin-right: 22%;
    }

    /* Changing the layout for the services section */

    .services {
        margin-top: 12%;
    }

    .leftservices {
        width: 90%;
        margin-bottom: 5%;
        padding-left: 5%;
    }

    .imgboxleft {
        width: 30%;
        float: left;
    }

    .imgboxleft h2 {
        display: none;
    }

    .imgboxleft .servicesimg {
        width: 160px;
    }

    .services .redbox {
        display: none;
    }

    .leftbody {
        width: 65%;
        float: left;
        margin-left: 5%;
    }

    .leftbody h2 {
        display: inline;
        font-size: 1.75em;
    }

    .centerservices {
        width: 90%;
        margin: 0px;
        margin-bottom: 5%;
        padding-bottom: 0%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 0%;
    }

    .imgboxright {
        width: 30%;
        float: right;
    }

    .imgboxright h2 {
        display: none;
    }

    .rightbody {
        width: 65%;
        float: right;
        margin-right: 5%;
    }

    .rightbody h2 {
        display: inline;
        font-size: 1.75em;
    }

    .rightservices {
        width: 90%;
        float: left;
        padding-bottom: 5%;
        padding-right: 5%;
    }
    /* End of changing the layout for the services section */

    /* Changing the layout of the insights section */
    .insights {
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .leftinsights {
        width: 70%;
        margin-left: -6vw;
    }

    .leftinsights .redbox{
        margin-bottom: 5%;
    }

    .rightinsights {
        width: 100%;
        float: left;
        margin-top: 5%;
    }

    .insightsscroll {
        margin-left: 32%;
    }

    #slider {
        height: 60vw;
    }

    .rightinsightsmobile {
        width: 100%;
        margin-top: 5%;
    }

    .carousel-cell {
        width: 59%;
    }
    /* End of changing the layout of the insights section */

    /* Changing the layout of the contact section */
    .contactleft {
        width: 100%;
        float: left;
    }

    .contact .redbox{
        margin-bottom: 5%;
    }

    #contactForm {
        width: 100%;
    }

    .text-danger {
        margin-top: 69% !important;
    }

    #msgSubmit {
        width: 31%;
    }
    /* End of changing the layout of the contact section */

    /* Changing the layout of the footer section */
    .footer {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .footerlogo {
        width: 100%;
        height: 100%;
    }

    .footerlogo img {
        width: 15%;
    }

    .footerSCH {
        width: 100%;
        height: 100%;
    }

    .footersocials {
        width: 100%;
        margin-bottom: 5%;
    }

    .footerhotline {
        width: 100%;
    }
    
    .footerhotline a {
        width: 15%;
    }
    /* End of changing the layout of the footer section */
}

@media only screen and (max-width: 900px) {
    .leftlanding {
        margin-left: -6.75vw;
    }

    .leftinsights {
        margin-left: -6.75vw;
    }

    .text-danger {
        margin-top: 73% !important;
        width: 50% !important;
    }

    #msgSubmit {
        width: 34%;
    }
}

@media only screen and (max-width: 830px) {
    .footerhotline a {
        width: 20%;
    }
}

/* Changing the layout to fit for just mobile/smaller screens */
/* Changing the Desktop insight slider to a mobile slider */
@media only screen and (max-width: 800px) {
    .logo {
        width: 100%;
        float: left;
    }

    .logo img {
        width: 20%;
    }

    .headerhotline {
        width: 100%;
        margin-top: 5%;
    }

    .headersocials {
        width: 100%;
        margin-top: 5%;
        margin-left: 0%;
    }

    .landingbox {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .leftlanding {
        margin-left: -7.5vw;
    }

    .fullwidthimgtext {
        margin-top: 40vh;
        width: 79%;
        margin-right: 27%;
        margin-left: 5%;
    }

    .services {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .insights {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .leftinsights {
        margin-left: -7.5vw;
    }

    .rightinsights {
        display: none;
    }
    
    .rightinsightsmobile {
        display: block;
        width: 100%;
        float: left;
        margin-top: 5%;
    }

    .rightinsightsmobile img{
        width: 40%;
        float: left;
        margin: 5%;
    }

    .maincenter {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .text-danger {
        margin-top: 75% !important;
    }

    .footerlogo img {
        width: 20%;
    }
}

/* Contact form feilds go full width */
@media only screen and (max-width: 700px) {
    .leftlanding {
        margin-left: -9vw;
    }

    .leftinsights {
        margin-left: -9vw;
    }

    .logo img {
        width: 25%;
    }

    .landing {
        margin-bottom: 10%;
    }

    .maincenter {
        margin-bottom: 10%;
    }

    .contactreq {
        margin-bottom: 7%;
    }

    .form-group {
        width: 100%;
        margin-bottom: 15%;
    }

    .last{
        margin-bottom: 10%;
    }

    .text-danger {
        margin-top: 189% !important;
    }

    #msgSubmit {
        width: 39%;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }

    .logo img {
        width: 35%;
    }

    .imgboxleft {
        width: 100%;
    }

    .imgboxleft h2 {
        display: block;
        text-align: center;
        font-size: 2em;
    }

    .imgboxleft .servicesimg {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .imgboxright {
        width: 100%;
    }

    .imgboxright h2 {
        display: block;
        text-align: center;
        font-size: 2em;
    }

    .imgboxright .servicesimg {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .leftlanding {
        margin-left: -10.5vw;
        width: 100%;
        text-align: justify;
    }

    .leftinsights {
        margin-left: -10.5vw;
    }

    .leftbody {
        width: 100%;
        float: left;
        margin-left: 0%;
        margin-bottom: 5%;
    }

    .leftbody h2 {
        display: none;
    }

    .rightbody {
        width: 100%;
        float: left;
        margin-left: 0%;
        margin-bottom: 5%;
        margin-right: 0;
    }

    .rightbody h2 {
        display: none;
    }

    .services {
        text-align: justify;
    }

    .centerservices {
        width: 90%;
        padding-right: 5%;
        padding-left: 5%;
    }

    .leftinsights {
        width: 100%;
        text-align: justify;
    }

    .main-insight-card {
        background-image: url(../insights/mobile-cards/insights-2020-600px.jpg);
    }
    
    .jan-insight-card {
        background-image: url(../insights/mobile-cards/jan-insight-600px.jpg);
    }

    .feb-insight-card {
        background-image: url(../insights/mobile-cards/feb-insight-600px.jpg);
    }

    .contactreq {
        margin-bottom: 10%;
    }

    .text-danger {
        margin-top: 203% !important;
    }

    #msgSubmit {
        width: 46%;
        margin-bottom: 5%;
    }

    .footerlogo img {
        width: 25%;
    }

    .footerhotline a {
        width: 25%;
    }
}

@media only screen and (max-width: 540px) {
    .text-danger {
        margin-top: 215% !important;
    }

    #msgSubmit {
        width: 51%;
    }
}

@media only screen and (max-width: 500px) {
    .leftlanding {
        margin-left: -12.5vw;
    }

    .leftinsights {
        margin-left: -12.5vw;
    }
    
    .rightinsightsmobile img {
        width: 90%;
        float: left;
        margin: 5%;
    }

    .text-danger {
        margin-top: 227% !important;
        width: 75% !important;
    }

    #msgSubmit {
        width: 55%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 445px) {
    .text-danger {
        margin-top: 241% !important;
    }
}

@media only screen and (max-width: 411px) {
    .leftlanding {
        margin-left: -12.5vw;
    }

    .leftinsights {
        margin-left: -12.5vw;
    }
    
    .rightinsightsmobile img {
        width: 90%;
        float: left;
        margin: 5%;
    }
}

@media only screen and (max-width: 400px) {
    .leftlanding {
        margin-left: -15.5vw;
    }

    .leftinsights {
        margin-left: -15.5vw;
    }

    .main-insight-card {
        background-image: url(../insights/mobile-cards/insights-2020-400px.jpg);
    }
    
    .jan-insight-card {
        background-image: url(../insights/mobile-cards/jan-insight-400px.jpg);
    }

    .feb-insight-card {
        background-image: url(../insights/mobile-cards/feb-insight-400px.jpg);
    }

    .text-danger {
        margin-top: 257% !important;
    }

    #msgSubmit {
        width: 69%;
        margin-bottom: 5%;
    }

    .footerlogo img {
        width: 30%;
    }

    .footerhotline a {
        width: 35%;
    }
}

@media only screen and (max-width: 360px) {
    .text-danger {
        margin-top: 280% !important;
        width: 80% !important;
    }
}

@media only screen and (max-width: 300px) {
    .logo img {
        width: 45%;
    }

    .leftlanding {
        margin-left: -21.5vw;
    }

    .leftinsights {
        margin-left: -21.5vw;
    }

    .contactreq {
        margin-bottom: 15%;
    }

    #msgSubmit {
        width: 79%;
        margin-bottom: 5%;
    }

    .footerlogo img {
        width: 40%;
    }

    .footerhotline a {
        width: 45%;
    }
}